/*Esas header hissesinin yigilmasi 0*/
.header{
	width:100%;
	height:80px;
	background-color: #2E2E2E;
}

li{
	display: inline-block;
	float:right;
	padding:30px;
	padding-right: 10px;
	padding-left: 10px;
	cursor:pointer;
	transition: .70s;
}

li:hover{
	background-color: #1C1C1C;
}

a{
	color:white;
	text-decoration: none;
	transition:.70s;
}

li:hover>a{
	color:lightblue;
}

ul{
	margin-right: 220px;
}

.logo{
	font-size: 35px;
	color:white;
	float:left;
	padding:20px;
	margin-left: 210px;
	margin-right: 90px;
	cursor:pointer;
}

/*Esas header hissesinin yigilmasi 1*/
/*Content menu*/ 

.main{
	width: 900px;
	height: auto;
	background-color:;
	margin:auto; 
}

/*Footer hissesinin yigilmasi 0*/

.footer{
	width:1000px;
	height: 300px;
	background-color:#2E2E2d;
	margin:auto;
}

.popular{
	width:200px;
	height: 250px;
	background-color:;
	float:left;
	margin-left:70px;
	margin-right: 10px;
	margin-top: 15px;
	color:#E6E6E6;
	text-indent: 5px;
	font-size:13px;
}

i{
	color:#848484;
}

.facebook{
	width:200px;
	height: 250px;
	background-color:;
	float:left;
	margin-left:10px;
	margin-right: 10px;
	margin-top: 15px;
	color:#E6E6E6;
	text-indent: 5px;
	font-size:13px;
	
}

.little{
	width:200px;
	height: 250px;
	background-color:;
	float:left;
	margin-left:10px;
	margin-right: 10px;
	margin-top: 15px;
	color:#E6E6E6;
	text-indent: 5px;
	font-size:13px;
}

.contact_form{
	width:200px;
	height: 250px;
	background-color:;
	float:left;
	margin-left:10px;
	margin-right: 10px;
	margin-top: 15px;
	color:#E6E6E6;
	font-size:13px;
}

.footer_bottom{
	width:1000px;
	height:40px;
	background-color: #1C1C1C;
	margin:auto;
	color:#E6E6E6;
	text-indent: 70px;
	padding-top: 20px;
}

input[type="text"],input[type="email"]{
	width:170px;
	height: 25px;
	border-radius:5px;
	border:1px solid #1C1C1C;
	padding:;
	margin-bottom: 10px;
	background: #1C1C1C;
	color:#848484;
}

textarea{
	background: #1C1C1C;
	border-radius: 5px;
	border:1px solid #1C1C1C;
	margin-bottom: 10px;
	color:#848484;
}

input[type="submit"]{
	width:100px;
	height: 30px;
	background-color:#5192FF;
	border-radius:5px;
	border:1px solid #1C1C1C;
	font-size: 15px;
	color:#E6E6E6;
	cursor:pointer;
}

.dotted{
	padding-bottom: 10px;
	border-bottom:2px dashed #E6E6E6;
}

.face_i{
	color:lightblue;
}

/*Footer hissesinin yigilmasi 1*/
/*2ci header hissesin yigilmasi ve shekil 0*/
.main_image img{
	width:900px;
	height:400px;
	margin-top: 30px;
	box-shadow: 0px 0px 10px 0px #1264C4;
}

.our_services{
	width:900px;
	height: 400px;
	background-color:;
	border-bottom:3px dashed #4030FF;
}

.services_1{
	display: inline-block;
	float:left;
	padding:12px;
	padding-right: 20px;
	padding-left: 20px;
	cursor:pointer;
	transition: .70s;
}

.services_1:hover{
	background-color:#fff;
	color:#4030FF;
	border-top: 1px solid #4030FF;
	border-left: 1px solid #4030FF;
	border-right: 1px solid #4030FF;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.services{
	margin-left: 240px;
}

.services_p{
	text-indent: 15px;
	padding-left:10px; 
	padding-right:10px;
	color:#424242;
}

.our_services img{
	width:310px;
	margin:10px;
	box-shadow: 0px 0px 10px 0px #1264C4;
}

.h3_image{
	margin-top: 30px;
	text-align: left;
	margin-left: 340px;
}
/*2ci header hissesin yigilmasi ve shekil 1*/
/*Latest staff hissesinin yigilmasi 0*/
.latest_staff{
	width:900px;
	height: 400px;
	background-color:;
	border-bottom:3px dashed #4030FF;
}

.latest_img{
	padding-left: 140px;
}

.latest_img img{
	width:200px;
	padding: 0px;
	box-shadow: 0px 0px 10px 0px #1264C4;
}

.latest_p{
	text-indent: 10px;
	padding-right: 10px;
	padding-left: 10px;
	color:#424242;
}
/*Latest staff hissesinin yigilmasi 1*/
